name: CD Pipeline

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push API image
        uses: docker/build-push-action@v4
        with:
          context: ./backend/api
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/autoscillab-api:latest
      - name: Build and push Worker image
        uses: docker/build-push-action@v4
        with:
          context: ./backend/workers
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/autoscillab-worker:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup kubectl
        uses: azure/setup-kubectl@v3
      - name: Deploy to cluster
        env:
          KUBECONFIG: ${{ secrets.KUBE_CONFIG_DATA }}
        run: |
          echo "$KUBECONFIG" | base64 --decode > kubeconfig
          kubectl --kubeconfig=kubeconfig apply -f infra/kubernetes
